ul{
    list-style-type: none;
    display: flex;
}

li{
    padding-left: 20px;

}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 3px 6px;

}

table {
    margin: auto;
    margin-top: 10px;
}

div {
    text-align: center;
    margin: 5px;    
}

input, button {
    margin: 0px 2px;
}